<div class="container">
  <div id="consultation">
  <div>
  <h1>Your consultations</h1>

  </div>
      <ul class="inbox">




      <% @consultations.reverse.each do |consultation| %>

          <% array =  ["Hey", "Hi", "Hello", "What's up", "Hey there", "Excuse me", "Howdy there", "Pardon me", "Hola", "Greetings", "Good morning", "Good afternoon", "Good night", "G'day", "I salute you", "Sup"] %>

        <% if current_user.advisor.present? %>
        <li class="message">
          <div class="message-name">
            <h3><%= consultation.user.first_name%> <%=consultation.user.last_name %></h3>
            <p><%= consultation.start_time.strftime('%b %e, %l:%M %p') %> <br> <%=  consultation.end_time.strftime('%b %e, %l:%M %p')%></p>
          </div>
          <div class="message-body">
            <p><strong><%= array.sample %>, <%= current_user.first_name %></strong></p>
            <p>
              <%=  consultation.description %>
            </p>
          </div>









          <div class="message-status">
          <% if consultation.status == "Pending" %>
            <div class="status pending">
              <ul class="list-inline">
                <li class="list-inline-item">
              <%= simple_form_for(:consultation, url: accept_consultation_path(consultation)) do |fa| %>
              <%= fa.hidden_field :status, :value => "Pending" %>
              <%= fa.submit "✓", class: "btn btn-sm btn-success"%>
              <% end %>
              </li>

              <li class="list-inline-item">
               <%= simple_form_for(:consultation, url:reject_consultation_path(consultation)) do |fa| %>
              <%= fa.hidden_field :status, :value => "Pending" %>
              <%= fa.submit "✕", class: "btn btn-sm  btn-danger"%>
              <% end %>
             </li>
              </ul>
            </div>
<<<<<<< HEAD
            <p class="price">€ <%= consultation.advisor.price %>/day  </p>
=======

            <% elsif  consultation.status == "Accepted" %>

            <p class="status accepted">Accepted</p>

            <% else %>

            <p class="status declined">Rejected</p>

          <% end %>

            <p class="price">€ <%= consultation.advisor.rate %>/day  </p>
>>>>>>> 19dd1bd017abc8bf77d932e73016170dfc42ce02
          </div>


<<<<<<< HEAD
           <li class="message">
          <div class="message-name">
            <h3><%= consultation.advisor.user.first_name%> <%=consultation.advisor.user.last_name %></h3>
            <p><%= consultation.start_time %> - <%=  consultation.end_time%></p>
          </div>
          <div class="message-body">
            <p><strong>Your message:</strong></p>
            <p>
              <%=  consultation.description %>
            </p>
          </div>
          <div class="message-status">
            <p class="status pending">Pending</p>
            <p class="price">€ <%= consultation.advisor.price %>/day </p>
          </div>
        </li>
=======
>>>>>>> 19dd1bd017abc8bf77d932e73016170dfc42ce02
















        </li>

        <% else %>

           <li class="message">
          <div class="message-name">
            <h3><%= consultation.advisor.user.first_name%> <%=consultation.advisor.user.last_name %></h3>
            <p><%= consultation.start_time %> - <%=  consultation.end_time%></p>
          </div>
          <div class="message-body">
            <p><strong>Your message:</strong></p>
            <p>
              <%=  consultation.description %>
            </p>
          </div>
          <div class="message-status">
            <% if consultation.status == "Pending" %>
            <p class="status pending">Pending</p>
            <% elsif  consultation.status == "Accepted" %>
            <p class="status accepted">Accepted</p>
            <% else %>
            <p class="status declined">Rejected</p>
            <% end %>


            <p class="price">€ <%= consultation.advisor.rate %>/day </p>
          </div>
        </li>

        <% end %>



        <% end %>

<li class="message">
          <div class="message-name">
            <h3>Better Wear</h3>
            <p>*</p><!-- <br>-<br> --><!-- <p>*</p> -->
          </div>
          <div class="message-body">
            <p><strong>Welcome, <%= current_user.first_name %> !</strong></p>
            <p>
              Welcome to Better Wear! Where fashion seekers meet fashion experts. We believe in making the world a more stylish place, one person at a time.
            </p>
          </div>
          <div class="message-status">
            <p class="status accepted">Accepted</p>
            <p class="price">$$$</p>
          </div>
        </li>

    </ul>
  </div>
</div>
