<%= simple_form_for current_user do |u| %>
  <%= u.input :bio %>
  <%= u.input :city %>
  <%= u.simple_fields_for :advisor do |a| %>
    <%= a.input :title %>
    <%= a.input :rate %>
    <%= a.input :category %>
  <% end %>

  <div class="form-actions">
    <%= u.button :submit, "Update", class: 'btn-success btn-block btn-lg' %>
  </div>
<% end %>

<br>
<button type="button" class="btn btn-warning"><a href="">Not now</a></button>
