<div class="register">
  <%= simple_form_for current_user do |u| %>
  <%= u.input :photo, label: 'Change your picture' %>
  <%= u.input :photo_cache, as: :hidden %>
    <%= u.input :bio, placeholder: "Bio", label:false,  input_html: { rows: 10 }%>
    <%= u.input :city, placeholder: "City", label:false %>
    <%= u.simple_fields_for :advisor do |a| %>
      <%= a.input :title, placeholder: "Title", label:false %>
      <%= a.input :price, placeholder: "Rate", label:false %>
      <%= a.input :category, placeholder: "Category", label:false %>

    <% end %>

    <div class="form-actions">
      <%= u.button :submit, "Update", class: 'btn-success' %>    <button type="button" class="btn btn-default"><a href="/advisors">Not now</a></button>
    </div>

  <% end %>


</div>
