
<h1 style="text-align: center;">Hire a fashion expert</h1>

<div class="filter-by-city">
  <div class="show-all">
    <%= form_tag advisors_path, method: :get do  %>
      <%= select_tag "city", options_for_select(Advisor.cities), class: "filter-form" %>
      <%= submit_tag "filter by city", class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="form-city">
    <%= form_tag advisors_path, method: :get do  %>
      <%= submit_tag "show all", class: "btn btn-success" %>
      <% end %>
  </div>
  </div>
</div>
<br>



<div class="container">
  <div class="grid">
    <% @advisors.each do |advisor| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1511231115599-3edad51208c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a2566068bca11a03932b2e578066d95&auto=format&fit=crop&w=2689&q=80');">

        <div class="card-description">
          <h3><%= advisor.user.first_name %> <%= advisor.user.last_name %></h3>
          <h4><%= advisor.title %></h4>
          <p><%= advisor.city %></p>
        </div>
        <%= link_to "", advisor_path(advisor), class: "card-link" %>
        <!-- <a class="card-link" href="<%#= advisor_path(advisor) %>" ></a> -->
      </div>
    <% end %>
  </div>

</div>

