
<h1 class="title">Hire a fashion expert</h1>


<!--___________________SEARCH BAR____________________- -->
<div class="search">
  <%= form_tag advisors_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control ",
      # style: "text-align: center;",
      style: "height: 60px; border-radius: 20px; font-weight:lighter; font-size:24px; color:rgba(0,0,0,.5);",
      placeholder: "Find an advisor"
    %>
  <% end %>
  <% if params[:query] != "" && params[:query] %>
  <h5>Displaying results for <%=params[:query]%></h5>
  <% end %>
</div>

<div class="filter-by-city">
  <div class="form-city">
    <%= form_tag advisors_path, method: :get do  %>
      <%= submit_tag "show all", class: "btn  show-all" %>
      <% end %>
  </div>
</div>
<br>



<div class="container">
  <div class="grid">
    <% @advisors.each do |advisor| %>
    <% if advisor.user.photo.present? %>

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path advisor.user.photo %>');">
        <div class="score">
          <% if !advisor.reviews.empty? %>
          <% advisor.average.to_i.times do %>
            <%= image_tag "/images/star-on.png" %>
          <% end %>
          <% end %>
        </div>

        <div class="card-description">
          <h3><%= advisor.user.first_name %> <%= advisor.user.last_name %></h3>
          <h4><%= advisor.title %></h4>
          <p><%= advisor.city %></p>
        </div>
        <%= link_to "", advisor_path(advisor), class: "card-link" %>
        <!-- <a class="card-link" href="<%#= advisor_path(advisor) %>" ></a> -->
      </div>
    <% end %>
    <% end %>
  </div>

</div>

