
  <div class="advisor">
     <% if @advisor.user.photo.present? %>
    <div class="profile-image" style="background-image: url('<%= cl_image_path @advisor.user.photo %>')"></div>
    <% else %>
     <div class="profile-image" style="background-image: url('https://placeholdit.co//i/350x500?&bg=f8f8ff&fc=000000&text=You%20don%27t%20have%20a%20photo%20yet.')"></div>
    <% end %>
    <div class="profile-details">
      <h1><%= truncate(@advisor.title,  length: 35, omission: '')%></h1>
      <h2><%=@advisor.user.first_name%> <%=@advisor.user.last_name%></h2>
      <h3><%= @advisor.user.city %></h3>
      <p><%=@advisor.user.bio%></p>
      <h4>Rate: <%= @advisor.rate  %> per hour</h4>

      <%= link_to new_advisor_consultation_path(params[:id]) do %>

        <div class="btn btn-success btn-block btn-lg" >Hire!</div>

      <% end %>

    </div>
  </div>


