<div class="container">
  <div class="advisor">
    <div class="profile-image" style="background-image: url('http://res.cloudinary.com/dz9p1e6np/image/upload/v1522768407/photo-1485462537746-965f33f7f6a7.jpg')"></div>
    <div class="profile-details">
      <h1><%= @advisor.title %></h1>
      <h2><%=@advisor.user.first_name%> <%=@advisor.user.last_name%></h2>
      <h3><%= @advisor.user.city %></h3>
      <p><%=@advisor.user.bio%></p>
      <h4>Rate: <%= @advisor.rate  %> per hour</h4>

      <%= link_to new_advisor_consultation_path(params[:id]) do %>

        <div class="btn btn-success btn-block btn-lg" >Hire!</div>

      <% end %>

    </div>
  </div>

</div>

